@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #000b74;
    color: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
}



.header-grid {
    display:grid;
    grid-template-columns: 6fr 6fr;
}


h1.title {
    text-align: center;
    padding-bottom: 25px;
}
.container {
    width: 1200px;
    margin: auto;
}


.nav ul {
    padding: 5px 0;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    /* padding: 15px 0; */
    margin: 0 15px;
}


.nav ul li a {
    color: #fff;
    text-decoration: none;
}


#logo {
    display: inline-block;
    font-size: 20px;
    padding: 10px 0;
    width: 200px;
}

#logo img{
    width: 160px;
}

#about {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.801), 
        rgba(0, 0, 0, 0.856)
      ),
    url(home-banner.jpg);
    /* padding: 50px 0; */
    color: #fff;

}

.about-padding {
    padding: 90px 0;
}

.about-grid {
     display: grid;
     grid-template-columns: 4fr 8fr;
     border: 1xp solid rgb(0, 0, 0); 
     padding: 10px;
}
 
 #skills {
     background-color: #000b74;
     color: #fff;
     /* padding: 10px 0 25px 0; */
 }

.skills-padding {
    padding: 89px 0;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;

}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 10px;
}


.portfolio-padding {
    padding: 89px 0;
}

.portfolio-grid div {
    width: 95%;
    border: 2px solid rgb(228, 228, 228);
    background-color: rgb(233, 233, 233);
    padding: 10px;
    margin: 10px;

}

.portfolio-grid div img{
    width: 100%;
    border: none;
}

#contact {
    background-color: #000b74;
    color: #fff;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

#form {
    padding: 10px;
    margin: 10px;
}

#form div {
    padding: 5px 0;
}

#form div input {
    width: 100%;
    padding: 5px 0;
    }

footer {
    background-color: #000b74;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #fff;
}

a#mobile-btn {
    display: none;
}

@media (max-width: 700px){

    .about-grid, .portfolio-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .header-grid {
        grid-template-columns: 1fr;
        text-align: center;

    }

    .contact-grid {
        grid-template-columns: 1fr;
    }

    .skill-grid {
        grid-template-columns: 1fr;
        border-bottom: 1px solid #fff;
        text-align: center;

    }

    .skill-grid > div {
        grid-template-columns: 1fr;
        border-bottom: 1px solid #fff;
    }

    .container {
        width: 100%;
    }

    .nav ul {
        display: block;
        font-size: 16px;
        border-bottom: 1px solid #fff;
        margin: 0px;
        padding: 0px;

    }

    .nav ul {
        display: none;
    }

    .nav ul li {
        list-style: none;
        display: block;
        font-size: 16px;
        margin: 0px;
        border-bottom: 1px solid #fff;
        margin: 0px;
        padding: 3px 10px;
        text-align: start;

    }

    a#mobile-btn {
        position: absolute;
        right: 5px;
        display: block;
        top: 10px;
    }


   a#mobile-btn .hamburger-menu {
        width: 22px;
        height: 2px;
        background-color: #fff;
        margin: 3px 10px;
        

    }

}